@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*General styling*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*End of General styling*/

/*Nav styling*/

nav {
    width: 100%;
}
.logo {
    margin-top: 2rem;
    margin-left: 3rem;
}
.logo  a{
    color: #882323;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.logo a span{
    margin-left: 5px;
    font-weight: 500;
    color: black;
}

/*End of nav styling*/

/*Home styling*/

.heading h1 {
    color: #882323;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*End of Home styling*/

/*Form styling*/

